.node {
  cursor: pointer;
  &:hover{
    circle{
      fill: $bm-red;
    }
    text{
      display: block;
    }
    
  }
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text {
  display: none;
  font: 18px 'Exo 2', sans-serif;
  font-weight: 700;
}

.link {
  fill: none;
  stroke: $bm-red;
  stroke-width: 1.5px;
}
.opac-hov{
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
}
svg{
	display: inline-block;
  vertical-align: middle;
}