<!DOCTYPE html>
<head>

<script type="text/javascript" src="../scripts/bower/jszip/jszip.js">	   </script>
<script type="text/javascript" src="../scripts/bower/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/bower/d3/d3.min.js">		   </script>


<link rel="stylesheet" type="text/css" href="../styles/main.css">
<link href='http://fonts.googleapis.com/css?family=Exo+2:400,700,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../../node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
</head>

<body>
	<div class="header">
		<div class="header-content wrapper">
			<h1 class="title">ZipItShipIt</h1>
			<form class="domain-form cf">
				<input class="input-text" type="text" id = "urlInput">
				<input id="click" class="button" type="button" value="Download">
			</form>
			<div class = "emailBtn"> </div>
		</div>
	</div>
	<div class="content">
		<div class="data-tree wrapper"></div>

	</div>
	<div class="footer">
		<div class="row cf wrapper">
			<div class="col">
				<h2>1. Enter a site to download.</h2>
				<p></p>
			</div>
			<div class="col">
				<h2>2. We'll pack it up.</h2>
				<p></p>
			</div>
			<div class="col">
				<h2>3. We'll give it to you!</h2>
				<p></p>
			</div>
		</div>
		<p class="copyright">&copy; 2014 Yusef, Matt, and Alex. BoilerMake2014
	</div>

<script type="text/javascript" src="../scripts/main.js">                   </script>
<script type="text/javascript" src="../scripts/visualization.js">	       </script>

</body>


</html>